/* Globals */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container {
  padding-top: 30px;
}

.page-wrapper {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  min-height: 100%;
}

.page-header {
  overflow: hidden;
}

.page-content {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;

  margin: 0;
  border: 0;

  padding-bottom: 75px;
  height: auto;
}

.page-footer {
  width: 100%;
  position: absolute;
  bottom: 0;

  background-color: #212529;
  height: 60px;
}

/* Resources */
.course-list {
  margin-top: 50px;
}

/* Results */
.contestant-medal-image {
  height: 50px;
  width: 50px;
}

/* Convocatoria */
.convocatoria-poster {
  width: 900px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}